body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('n.jpg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:100vh;


    }

.container {
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    background-color: #f3f3f3;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 24px;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    margin-top: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color:greenyellow;
    border: 2px solid #999;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
}

.cell:hover {
    background-color: #f0f0f0;
}

.message {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
}

.reset-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}
